body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f4f4f4;
}

header, footer {
  background: #1e90ff;
  color: white;
  text-align: center;
  padding: 20px;
}
.cv-button {
  display: inline-block;
  margin-top: 15px;
  padding: 12px 20px;
  background: #ffffff;
  color: #1e90ff;
  border-radius: 5px;
  font-weight: bold;
  text-decoration: none;
}

.cv-button:hover {
  background: #f0f0f0;
}


section {
  background: white;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

h2 {
  color: #1e90ff;
}

ul {
  list-style-type: square;
}

a {
  color: #1e90ff;
  text-decoration: none;
}
